@tailwind base;
@tailwind components;
@tailwind utilities;

/* Agrega tus estilos personalizados aquí */


h1 {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  color:red;
  padding: 2px;
}

.dashboard-container {
  width: 300px;
  height: 100vh;
  background-color: #f4f4f4;
  overflow-y: auto;
  padding: 20px;
}

.dashboard-item {
  margin-bottom: 20px;
}

.dashboard-label {
  font-size: 16px;
  margin-bottom: 5px;
}

.dashboard-slider {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
}

#border-graph{
  border: black 1px solid;
}

.dashboard-value {
  font-weight: bold;
  margin-top: 5px;
}

.chart-container {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 20px;
}
